source/build
.vscode
log
*__pycache__

/data/*
!/data/data.py
!/data/SBMs.py
!/data/superpixels.py
!/data/script_download_SBMs.sh
!/data/script_download_superpixels.sh


*.txt
*.json
build/
dgNN/dgNN.egg-info/
dgNN.egg-info/
dist/
*dgNN.egg-info
*.so
/test
/dataset